@font-face {
    font-family: "4Ants";
    font-display: auto;
    src: url('https://cdn.rphlo.com/4ants-mono.woff2') format('woff2'), url('https://cdn.rphlo.com/4ants-mono.woff') format('woff'), url('https://cdn.rphlo.com/4ants-mono.ttf') format('truetype');
}
  
html, body, .home {
    background-color: #111;
    font-family: '4Ants', Monospace, sans-serif;
    line-height: 1em;
    font-weight: normal;
    font-style: normal;
    font-size: 1.3em;
    color: #eee;
}
  
.center {
    text-align: center;
}
  
body { 
    max-width: 1080px;
    margin: 0 auto !important; 
    float: none !important; 
    padding: 5px;
}
  
header, footer { text-align: center; }
  
header {
  font-size: 1.7em;
}
header > nav {
  font-size: 0.7em;
}

content {
    /* font-family: 'Akt', sans-serif; */
    font-weight: normal;
    font-style: normal;
    font-size: 0.8em;
}
  
a {
    text-decoration: none;
    white-space: nowrap;
    color: #03e;
}
  
.title:before {
    display: block;
    content: " ";
    height: 180px;
    width: 100%;
    background: url('https://cdn.rphlo.com/rphlo_logo_hero_color_2023.png') no-repeat center center;
    background-size: auto 180px;
}
  
.large-image {
    width: 100%;
}
  
.item-list {
    text-align: center;
    overflow: hidden;
    margin: 1rem;
    line-height: 1.5;
}
  
.item-list > span::before{
    content: "[";
    padding: 0 5px;
    color: #eee;
}
.item-list > span::after{
    content: "]";
    padding: 0 5px;
    color: #eee;
}
  
.small{
    font-size: .7em
}
